@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--secondary-color);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
  font-family: "Inter", sans-serif;
}

.sidebar-logo {
  padding: 24px 16px 20px;
  text-align: center;
}

.sidebar-logo img { width: 100px; }

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  transition: background 0.3s;
  padding-left: 18px;
}

.sidebar-menu li:hover {
  background-color: rgba(255,255,255,0.1);
}

.sidebar-menu img {
  width: 26px;
  height: auto;
  margin-right: 12px;
}

.sidebar-menu li a {
  display: flex;
  align-items: center;
  padding: 12px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 800;
  font-style: italic;
  width: 100%;
}

.sidebar-footer {
  padding: 12px 0;
  border-top: 2px solid rgba(255,255,255,0.3);
  margin-bottom: 14px;
}

.user-profile,
.logout-action a {
  display: flex;
  align-items: center;
  padding: 10px 22px;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  text-decoration: none;
  word-break: break-word;
}

.sidebar-footer img {
  width: 22px;
  height: auto;
  margin-right: 12px;
  flex-shrink: 0;
}

.logout-action a {
  cursor: pointer;
  transition: background 0.3s;
}

.logout-action a:hover {
  background-color: rgba(255,255,255,0.1);
}