<div class="details-container">
  <img src="assets/logo-rosa.png" alt="Lara Logo" class="side-logo">

  <button class="btn-corte">CORTE DE CAJA</button>

  <div class="sale-summary">
    <h2>DETALLES DE VENTA</h2>
    <div class="info-grid">
      <div class="info-item">
        <label>Fecha</label>
        <strong>23 de mayo 2025</strong>
      </div>
      <div class="info-item">
        <label>Empleado</label>
        <strong>00000001</strong>
      </div>
      <div class="info-item full-width">
        <label>ID de venta</label>
        <strong>00000123</strong>
      </div>
    </div>

    <hr>

    <div class="input-field">
      <label>Cantidad recibida:</label>
      <input type="text" class="summary-input">
    </div>

    <div class="input-field">
      <label>Cambio:</label>
      <label for=""></label>
    </div>

    <hr>

    <div class="totals-table">
      <div class="total-row"><span>Sub Total:</span> <strong>$2500.00</strong></div>
      <div class="total-row"><span>Descuento:</span> <strong>$0.00</strong></div>
      <div class="total-row"><span>IVA:</span> <strong>$400.00</strong></div>
      <div class="total-final">
        <span>TOTAL:</span>
        <label class="final-price">$2900.00</label>
      </div>
    </div>
  </div>
</div>