@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.side-logo {
  height: 350px;
  width: auto;
  margin-bottom: 30px;
}

.btn-corte {
  width: 100%;
  padding: 12px;
  background: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 800;
  margin-bottom: 25px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.sale-summary{
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    border: solid 1px rgba(147, 147, 147, 0.2);
}

.sale-summary h2 {
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 20px;
  font-weight: 800;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 20px;
}

.info-item label {
  display: block;
  font-size: 0.8rem;
  color: #999;
  font-style: italic;
}

.info-item strong {
  font-style: italic;
  font-weight: 800;
  color: #6B6B6B;
}

.full-width { grid-column: span 2; }

hr { border: 0.5px solid #eee; margin: 20px 0; }

.input-field { margin-bottom: 15px; }

.input-field label {
  font-size: 0.8rem;
  color: #999;
  font-style: italic;
  margin-bottom: 5px;
  display: block;
}

.summary-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.05);
}

.totals-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.total-row {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 0.9rem;
}

.total-final {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: 2px solid #eee;
  padding-top: 20px;
}

.total-final span { font-weight: 900;  color: #6B6B6B;}

.final-price {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 800;
}